/* @keyframes slide {
    from {
        transform: translateX(-400px);
    }

    to {
        transform: translateX(0);
    }

}
@keyframes slide2 {
    from {
        transform: translateX(400px);
    }

    to {
        transform: translateX(0px);
    }

} */

/* .edu-pera h2 {
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
} */

/* .about h1 {
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
} */

/* for card */
@keyframes rotate{
    from{
        transform: rotate(0deg) ;
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes wave{

   20%,50%,80%,to{
        transform: translateY(0) skewY(5deg);
    }
    40%{
        transform: translateY(-30px) skewY(5deg);
    }
    70%{
        transform: translateY(-15px) skewY(5deg);
    }
    90%{
        transform: translateY(-4px) skewY(5deg);
    }
}
@keyframes type {

    40% , 60% {
        left: 100%;
    }

    100%{
        left: 0%;
    }
   
}